<form [formGroup]="changePasswordForm" (ngSubmit)="changePasswordFormSubmit(changePasswordForm.value)">
	<zui-modal [title]="'Change Password'" [modalId]="'change-password-modal'" [modalSize]="'small'">
	    <zui-modal-body>
		 	<div class="subform">
		     	<p>  {{changePasswordObject.upperText}} </p>
			    <div class="clearfix new-password">
 	        		<label for="new-password">New Password<span class="input-required">*</span>:</label>
	        		<input id="new-password" class="form-control" [attr.type]="newPassword.type"  placeholder="New Password" [formControl]="changePasswordForm.controls['newPassword']" [(ngModel)]="changeNewPassword"/>
 	        		<span (click)="showpasswordClicked('NEW_PASSWORD')" *ngIf="newPassword.showPasswordIcon" class="show-password-image cursor-pointer"> </span>
 	        		<span (click)="hidePasswordClicked('NEW_PASSWORD')" *ngIf="!newPassword.showPasswordIcon" class="hide-password-image  cursor-pointer"> </span>
 	        	</div>
 	        	<div class="clearfix confirm-password">
 	        		<label for="confirm-password">Retype Password<span class="input-required">*</span>:</label>
	        		<input id="confirm-password" class="form-control" [attr.type]="confirmPassword.type" placeholder="Confirm Password" [formControl]="changePasswordForm.controls['confirmPassword']" [(ngModel)]="changeConfirmPassword" [ngClass]="{'error': changeConfirmPassword !== changeNewPassword}"/>
 	        		<span (click)="showpasswordClicked('CONFIRM_PASSWORD')" *ngIf="confirmPassword.showPasswordIcon" class="show-password-image cursor-pointer"> </span>
 	        		<span (click)="hidePasswordClicked('CONFIRM_PASSWORD')" *ngIf="!confirmPassword.showPasswordIcon" class="hide-password-image  cursor-pointer"> </span>
 	        	</div>
	        	<!-- <p>{{changePasswordObject.lowerText}} </p> -->
	        	<p>{{changePasswordObject.description}}</p>
 	        </div>
	    </zui-modal-body>
	    <zui-modal-footer>
		    <!-- <button type="button" class="zui-btn zui-btn-primary" (click)="changePasswordUpdateClicked()" [disabled]="!enabledUpdate">Update</button> -->
		    <button type="button" class="zui-btn zui-btn-sec" data-dismiss="modal">Cancel</button>
		    <button type="submit" class="zui-btn zui-btn-primary" [disabled]="!changePasswordForm.valid || (changeConfirmPassword !== changeNewPassword)">Update</button>
			
	    </zui-modal-footer>
	</zui-modal>
</form>
