zui-release-testcase-status-gadget {
    height: auto;
    display: block;
}

.margin-top-5-ng {
  margin-top: -5px !important;
}

zui-release-testcase-status-gadget label {
    line-height: 2.3;
}

zui-release-testcase-status-gadget .zui-ng-select {
    display: inline-block;
    max-width: 100%;
}
