<div class="zee-module1-wrapper {{summary.class}}" *ngIf="summary" [ngClass]="{'content-center' : headerCentered}">
    <div>
        <span class="zee-module1-title" [style.color]="summary.color" >{{summary.count}}</span>
        <br *ngIf="applyBreak">
        <span class="zee-module1-summary-name" [style.border-bottom-color]="summary.color">{{summary.name}}</span>
        <span *ngIf="summary && summary.hoverItems && showOnHover" class="group-hover-trigger">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </span>
        <span class="group-hover-wrapper hide">
          <div class="displayFlex" *ngFor="let item of summary.hoverItems;">
            <span>{{item.name}}:</span>
            <span class="count">{{item.count}}</span>
          </div>
        </span>
    </div>
    <div *ngFor="let group of summary.groups" class="zee-module1-group-wrapper">
        <span class="zee-module1-group-name">{{group.name}}</span>
        <div *ngFor="let item of group.items; let counter = index">
            <span class="zee-module1-item-name" *ngIf="counter < 2 || isExpanded">
                <span class="ellipses" title="{{item.name}}">{{item.name}}</span>
            </span>
            <span  *ngIf="counter < 2 || isExpanded">:</span>
            <span [class.aui-lozenge]="item.highlightCount"  *ngIf="counter < 2 || isExpanded">{{item.count}}</span>
        </div>
    </div>

</div>

<a *ngIf="summary && summary.viewAll && !isExpanded && isGreaterThanTwo" class="zee-module1-view-all" (click)="viewAllItems()">
    Show More &#62;
</a>

<a *ngIf="summary && summary.viewAll && isExpanded && isGreaterThanTwo" class="zee-module1-view-all" (click)="viewAllItems()">
    Show less &lt;
</a>
