<!-- Read the comments for correct usage -->
<zui-tabs (onTabSwitch)="onTabSwitch($event)">
<!--
    onTabSwitch and onBeforeTabSwitch events can be listned to (emited by the tab component)

    onTabSwitch(e){
        console.log("event data",e);
    }
-->
  <zui-tabs-header>
    <!-- **** tabs comes here ['active' class for default active component] -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item"><a class="active" href="#tab1" role="tab" data-toggle="tab"><span>Tab 01</span></a></li>
      <li class="nav-item"><a href="#tab2" role="tab" data-toggle="tab"><span>Tab 02</span></a></li>
    </ul>
    <!-- **** -->

  </zui-tabs-header>
  <zui-tabs-content>

    <!-- **** content panes comes here ['active' class for default active component] -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="tab1">
        <div class="flex">
          <h4>Tab 01 content</h4>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="tab2">
        <div class="flex">
          <h4>Tab 02 content</h4>
        </div>
      </div>
    </div>
    <!-- **** -->

  </zui-tabs-content>
</zui-tabs>
