#colorPicker
{
    width:          30px;
    height:         30px;
    position: relative;
    clear: both;
    display: inline-block;
}

#colorPicker .track {
    background:     #EFEFEF url(../../assets/styles/assets/images/text-color.png) no-repeat 50% 50%;
    height:         192px;
    width:          192px;
    padding:        0px;
    position:       absolute;
    cursor:         crosshair;
    float:          left;
    left:           66px;
    top:            -105px;
    display:        none;
    border:         1px solid #f7f7f7;
    z-index:        10;

}

#colorPicker .color {
    width:          50px;
    height:         25px;
    padding:        1px;
    border:         1px solid #ccc;
    display:        block;
    position:       relative;
    z-index:        11;
    background-color: #EFEFEF;
    cursor: pointer;
}

#colorPicker .colorInner {
    width:          50px;
    height:         25px;
}

#colorPicker .dropdown {
    list-style: none;
    display: none;
    width: 27px;
    position: absolute;
    top: 28px;
    border: 1px solid #ccc;
    left: 0;
    z-index: 1000;
}

#colorPicker .dropdown li{
    height: 25px;
    cursor: pointer;
}

.colorInput {
	opacity: 0;
}