zui-release-testcase-status-gadget {
    height: auto;
    display: block;
}

zui-release-testcase-status-gadget label {
    line-height: 2.3;
}

zui-release-testcase-status-gadget .zui-ng-select {
    display: inline-block;
    max-width: 100%;
}


.label-radio {
  margin-bottom: 10px !important;
  width: 150px !important;;
  display: inline-block !important;;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;;
}
