<div class="footer-wrapper">
    <div class="footer">
        <div class="row">
            <!-- <div class="col-md-6 col-xs-6 footer-component">
                <span class="fa fa-envelope"></span>
                <span>No Unread Messages</span>
            </div>
            <div class="col-md-6 col-xs-6 footer-component">
                <span class="fa fa-comments"></span>
                <span>Chat</span>
            </div> -->
            <div class="col-md-12 col-sm-12 footer-component">
                <span>&copy; Zephyr Enterprise 6.0</span>
            </div>
        </div>
    </div>
</div>
