.zui-inline-options {
  width: 50%;
  height: 300px;
  margin-left: 20px;
  overflow-y: auto;
}

.zui-inline-options-header {
  display: flex;
  justify-content: space-between;
}

.zui-inline-options-trigger {
  color: #5cb7bb !important;
}

.zui-checkbox-value {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.zui-checkbox-value:hover{
  overflow: visible;
  white-space: normal;
  width: 80%;
  position: absolute;
  background-color:#FFF;
  word-wrap: break-word;
}

.zui-checkbox-value:hover+div {
  margin-top:20px;
}
