zui-project-status-gadget {
    height: auto;
    display: block;
}

zui-project-status-gadget label {
    line-height: 2.3;
}

zui-project-status-gadget .zui-ng-select {
    display: inline-block;
    max-width: 100%;
}

zui-project-status-gadget .zui-ng-select {
  display: inline-block;
  width: 170px;
}

zui-project-status-gadget {
  .zee-module1-title {
    font-size: 20px !important;
  }

  .zee-module1-wrapper {
    padding: 5px !important;
  }

  .zee-module1-summary-name{
    font-size: 13px !important;
  }

}

