<div class="main-content" role="main">
    <!--<div class="zee-layout">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <zee-panel-content1-project></zee-panel-content1-project>
            </div>
        </div>
    </div>-->
    <div class="zui-content-layout layout4">   
        <zee-panel-content1></zee-panel-content1>
        <div class="row">
            <div class="col-md-8">
                <zee-panel-content2></zee-panel-content2>
            </div>
            <div class="col-md-4">
                <zee-panel-content3></zee-panel-content3>
            </div>
        </div>
    </div>
    <!--<div class="zee-layout-split">
        <div class="row">
            <div class="col-md-8 col-xs-12 zee-split-column">
                <zee-panel-content2-project></zee-panel-content2-project>
            </div>
            <div class="col-md-4 col-xs-12 zee-split-column column-splitter-left">
                <zee-panel-content3-project></zee-panel-content3-project>
            </div>
        </div>
    </div>-->
    <!--<div class="zee-layout">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <zee-panel-content4-project> </zee-panel-content4-project>
            </div>
        </div>
    </div>-->
</div>
