<section id="content" role="main">
    <!-- page panel -->
    <div [class]="'aui-page-panel zee-page-panel'">
        <div [class]="'aui-page-panel-inner zee-page-panel-inner'">
            <section [class]="'aui-page-panel-content'">
                <zee-panel-content1></zee-panel-content1>
            </section>
        </div>
    </div>
     <div [class]="'aui-page-panel zee-page-panel-group'">
        <div [class]="'aui-page-panel-inner zee-page-panel-group-inner'">
            <div [class]="'aui-group zee-group'">
                <div [class]="'aui-item zee-item'" id="zee-left-panel-items" [style.width.%]="'70'">
                    <!--<div *ngFor="let item of leftPanelItems" [class]="'zee-sub-item'">
                    </div>-->
                    <div [class]="'zee-sub-item'">
                        <zee-panel-content2></zee-panel-content2>
                    </div>
                    <div [class]="'zee-sub-item'">
                        <zee-panel-content3></zee-panel-content3>
                    </div>
                    <div [class]="'zee-sub-item'">
                        <zee-panel-content4></zee-panel-content4>
                    </div>
                    <div [class]="'zee-sub-item'">
                        <zee-panel-content5></zee-panel-content5>
                    </div>
                    <div [class]="'zee-sub-item'">
                        <zee-panel-content6></zee-panel-content6>
                    </div>
                </div>
                <div [class]="'aui-item zee-item'">
                    <div [class]="'zee-sub-item'">
                        <zee-panel-content7></zee-panel-content7>
                    </div>
                    <div [class]="'zee-sub-item'">
                        <zee-panel-content8></zee-panel-content8>
                    </div>
                    <div [class]="'zee-sub-item'">
                        <zee-panel-content9></zee-panel-content9>
                    </div>
                    <div [class]="'zee-sub-item'">
                        <zee-panel-content10></zee-panel-content10>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
