aa1 {
    overflow-x: hidden; 
    overflow-y: auto;
    
    .nvd3-svg {
        position: relative;
    }

    .nv-multiBarHorizontalChart text.nv-axislabel{
        font-size: 20px;
    }

    .advance-analytics--chart , .advanced-analytics--table {
        float: left;
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
        width: 50%;
    }


    .advanced-analytics--table {
        display: table;
        border: 1px solid #666666;         
        border-spacing: 5px; /* cellspacing:poor IE support for  this */
        margin-top: 40px;
        margin-bottom: 45px;
    }

    .div-table-row {
        display: table-row;
        width: auto;
        clear: both;
        border: 1px solid #666666;
        box-sizing: border-box;
    }
    .table__testcase-legend , .table__testcase-name, .table__testcase-failed-count {
        float: left; /* fix for  buggy browsers */
        display: table-column;
    }

    .table__testcase-legend {
        width: 13%;
    }
    .table__testcase-name {
        width: 82%;
    }
    .table__testcase-failed-count {
        width: 5%;
    }

    .table__testcase-legend-title {
        float: left; /* fix for  buggy browsers */
        display: table-column;
        text-align: center;
        width: 5%;
    }
    .table__testcase-name-title {
        float: left; /* fix for  buggy browsers */
        display: table-column;
        text-align: center;
        width: 79%;    
    }
    .table__testcase-failed-count-title {
        float: left; /* fix for  buggy browsers */
        display: table-column;
        text-align: center;
        width: 16%;    
    }
}