reset-password {
	.show-password-image , .hide-password-image {
		margin: 10px 0px 0px -30px;
		display: inline-block;
	}
	.hide-password-image:before {
		content:url(assets/images/show-password.png);
		margin-top: 5px;
	}
	.show-password-image:before {
		content:url(assets/images/hide-password.png);
	}
}
