<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordFormSubmit(resetPasswordForm.value)">
	<zui-modal [title]="'Reset Password'" [modalId]="'reset-password-modal'" [modalSize]="'small'">
	    <zui-modal-body>
	 		<div class="subform">
		     	<p>  {{resetPasswordObject.upperText}} </p>
			    <div class="clearfix new-password">
					<label for="new-password">New Password<span class="input-required">*</span>:</label>
	        		<input id="new-password" class="form-control" [attr.type]="newPassword.type"  placeholder="New Password" [formControl]="resetPasswordForm.controls['newPassword']" [(ngModel)]="resetNewPassword"/>
	        		<span (click)="showpasswordClicked('NEW_PASSWORD')" *ngIf="newPassword.showPasswordIcon" class="show-password-image cursor-pointer"> </span>
	        		<span (click)="hidePasswordClicked('NEW_PASSWORD')" *ngIf="!newPassword.showPasswordIcon" class="hide-password-image  cursor-pointer"> </span>
	        	</div>
	        	<div class="clearfix confirm-password">
	        		<label for="confirm-password">Retype Password<span class="input-required">*</span>:</label>
	        		<input id="confirm-password" class="form-control" [attr.type]="confirmPassword.type" placeholder="Confirm Password" [formControl]="resetPasswordForm.controls['confirmPassword']" [(ngModel)]="resetConfirmPassword" [ngClass]="{'error': resetConfirmPassword !== resetNewPassword}"/>
	        		<span (click)="showpasswordClicked('CONFIRM_PASSWORD')" *ngIf="confirmPassword.showPasswordIcon" class="show-password-image cursor-pointer"> </span>
	        		<span (click)="hidePasswordClicked('CONFIRM_PASSWORD')" *ngIf="!confirmPassword.showPasswordIcon" class="hide-password-image  cursor-pointer"> </span>
	        	</div>
	    		<p>  {{resetPasswordObject.lowerText}} </p>
	    		<p> {{resetPasswordObject.description}}</p>
		    </div>
	    </zui-modal-body>
	    <zui-modal-footer>
		    <button type="submit" class="zui-btn zui-btn-primary" [disabled]="!resetPasswordForm.valid || (resetConfirmPassword !== resetNewPassword)">Update</button>
	    </zui-modal-footer>
	</zui-modal>
</form>

