zui-release-status-gadget {
    height: auto;
    display: block;
}

zui-release-status-gadget label {
    line-height: 2.3;
}

zui-release-status-gadget .zui-ng-select {
    display: inline-block;
    width: 170px;
}

.refresh-rate-label {
  font-size: 12px;
  margin-top: 3px;
  margin-right: -7px;
  color: rgba(128, 128, 128, 0.73);
}
