zui-release-status-open-defects-gadget {
    height: auto;
    display: block;
}

zui-release-status-open-defects-gadget label {
    line-height: 2.3;
}

zui-release-status-open-defects-gadget .zui-ng-select {
    display: inline-block;
    max-width: 100%;
}

zui-release-status-open-defects-gadget #filter {
  margin-top: 5px;
}
