//-- colors:start --//
$color-mantis: #8dc75e;
$color-shark: #24282b;
$color-outer-space: #33393b;
$color-wild-sand: #f6f6f6;
$color-eastern-blue: #209397;
$color-oslo-gray: #818586;
$color-cream-can: #f3c05f;
$color-emerald: #56c88d;
$color-conflower-blue: #66b9f0;
$color-froly: #f06870;
$color-white: #ffffff;
//-- colors:end --//

//-- typo:start --//
$font-lato: 'Lato', helvetica, sans-serif; // 100, 300, 400, 700, 900
//-- typo:end --//

/* Font Sizes */
$zui-p-font: 12px;
$zui-strong-font: 13px;
$zui-stronger-font: 14px;
