 <div class="main-content clearfix" *ngIf="currentProject && currentProject">
 	<div class="module-subheader">
	    <div class="left-navs">
	    	<h3><b>Details</b></h3>
        <bread-crumb [breadCrumbsList]=breadCrumbsList (click)="onBreadCrumbClick($event)"></bread-crumb>
	    </div>
	    <div class="right-navs">
		    <span class="add-release-btn add-white-image cursor-pointer" title="Add New Release" (click)="addNewRelease()"></span>
		   <!--  <notifications
		                   [appId]="appId" (onNotificationApply)="applyNotifications($event)">
		    </notifications> -->
	    </div>
	</div>
	<div class="zui-content-layout release-setup-container" style="background: #fff;">

		<!-- Release-grid -->
		<div class="release-grid flex-column-stretch clearfix" *ngIf="releaseSetupGrid">
			<grid
			    [rows]="releaseSetupGrid.rows"
			    [paginationOptions]="releaseSetupGrid.paginationOptions"
          [gridType]="releaseGridType"
			    (onGridPrevClick)="releaseSetupGridPrevClick($event)"
			    (onGridNextClick)="releaseSetupGridNextClick($event)"
			    (onGridActionIconClick)="releaseSetupGridActionClick($event)"
			    (onGridRowClick) = "releaseSetupGridRowClicked($event)"
				(onGridPageSizeChange)="releaseGridPageSizeChange($event)"
				(onGridPaginateByIndex)="releaseGridPaginateByIndex($event)">
			</grid>
		</div>

    <zui-form-dirty-dialog
      [identifier]="'release_form'"
      [show]="showDirtyCheckModal"
      (dismissNavigation)="dismissNavigation($event)"
      (continueNavigation)="continueNavigation($event)"
    ></zui-form-dirty-dialog>

		<!-- Release form == edit and add -->
		<release-form> </release-form>

		<!-- Clone release form -->
		<clone-release class="flex-column-stretch" (refreshReleases)="refreshReleases()"> </clone-release>
	</div>


	<div class="modal fade" data-backdrop="static" tabindex='-1' id="confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	                <h2 class="modal-title" id="myModalLabel">{{confirmationObject.heading}} </h2>
	            </div>
	            <div class="modal-body">
	                <p> {{confirmationObject.text}} </p>
	            </div>
	            <div class="modal-footer">
	             <button type="button" class="zui-btn zui-btn-sec" data-dismiss="modal" *ngIf="confirmationObject.showCancelButton">Cancel</button>
                <button type="button" class="zui-btn zui-btn-primary" [attr.value]="confirmationObject.action" (click) = "confirmationActionCall($event)"  >{{confirmationObject.buttonText}}</button>

              </div>
	        </div>
	    </div>
	</div>

	<div class="modal fade" data-backdrop="static" tabindex='-1' id="add-release-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	                <h2 class="modal-title" id="myModalLabel">Add or Clone Release </h2>
	            </div>
	            <div class="modal-body">
	            		 	<div class="clearfix">
		            		    <div class="zui-radio">
		            		        <input (change)="addReleaseRadioOption = 'create-new'" name="addReleaseRadioOption" id= "add-new-release" type="radio" value="new" [checked]="'true'"/>
		            		        <label for="add-new-release">
		            		            <div class="check"></div>
		            		            <span>Create new release</span>
		            		        </label>
		            		    </div>
		            		</div>
		            		<div class="clearfix">
		            		    <div class="zui-radio">
		            		        <input (change)="addReleaseRadioOption = 'clone'" name="addReleaseRadioOption" id="clone-release" type="radio"  value="clone"/>
		            		        <label for="clone-release">
		            		            <div class="check"></div>
		            		            <span>Clone existing release</span>
		            		        </label>
		            		    </div>
		            		</div>
	            </div>
	            <div class="modal-footer">
	            <button type="button" class="zui-btn zui-btn-sec" data-dismiss="modal" >Cancel</button>
                <button type="button" class="zui-btn zui-btn-primary" (click) = "addModalClicked()">Continue</button>

	            </div>
	        </div>
	    </div>
	</div>
</div>
